@model WebApplication1.Models.myclass
@{
    ViewBag.Title = "Index";
}

<html>

<head>


</head>

<body>

    <h2>Aplikacja</h2>

    <div class="row">

        @using (Html.BeginForm("/Index", "myclass", FormMethod.Post))
        {

            <div class="form-group">
                <label for="jeden">Pierwsza liczba</label>
                <input type="text" class="form-control" id="jeden" name="jeden" value="@Model.jeden" />
            </div>

            <div class="form-group">
                <label for="dwa">Druga liczba</label>
                <input type="text" class="form-control" id="dwa" name="dwa" value="@Model.dwa" />
            </div>

            <div class="form-group">
                <label for="trzy">Wynik</label>
                <input type="text" class="form-control" id="trzy" name="trzy" value="@Model.trzy" />
            </div>

            <button type="submit" class="btn btn-info" id="add" value="add" name="wykonaj">Dodaj</button>
            <button type="submit" class="btn btn-info" id="min" value="min" name="wykonaj">Odejmij</button>

        }
    </div>
</body>

</html>



